body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;   
}

embed {
    width: 100%;
}

.main {
    height: 98%;
    overflow: scroll;
    overflow-x: hidden;
}

embed.footer {
    background-color: black;
    padding: 1em;
    padding-bottom: 0.5%;
    position: fixed;
    bottom: 0;
    padding-left: 0;
    height: 25px;
}

main {
    padding: 20px;
}

.entry-title {
    font-family: 'Arial', sans-serif;
    font-size: 2em;
    text-align: center;
    margin: 40;
    padding: 10;
}

.posts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.post {
    width: calc(33.33% - 40px); 
    margin: 20px;
    box-sizing: border-box;
}

.post img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in;
}
.post img:hover {
    transform: scale(1.03);

}

.post h3 {
    padding: 5px;
    padding-top: 0;
    box-sizing: border-box;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: black;
}

@media (max-width: 800px) {
    .post {
        width: 100%;
        margin: 60px;
        margin-bottom: 20px;
        margin-top: 0;
    }
    .logo
    {
        visibility: hidden;
    }
}