body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.main {
    height: 98%;
    overflow: scroll;
    overflow-x: hidden;
}

.footer {
    height: 10%;
}

footer {
    color: white;
    text-align: center;
    padding: 1em;
    padding-left: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center; 
}