.athens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.athen{
    font-family: 'Arial';
    font-size: 20px;
    line-height: 1.5;
    width: 70%;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.athen img {
    width: 675px;
}
.athen video {
    width: 675px;
}
.title{
    font-family: 'Arial',sans-serif;
    font-size: 2em;
    text-align: center;
    margin: 40;
    padding: 10;
}
.span_blue{
    color: aquamarine;
}

@media (max-width: 800px) {
    .athen img {
        width: 85vw;
    }
    .athen video {
        width: 85vw;
    }
    .athen{
        width: 90%;
    }
}