.aucklands{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.auckland{
    font-family: 'Arial';
    font-size: 20px;
    line-height: 1.5;
    width: 70%;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.auckland img {
    width: 675px;
}
.title{
    font-family: 'Arial',sans-serif;
    font-size: 2em;
    text-align: center;
    margin: 40;
    padding: 10;
}
.span_blue{
    color: aquamarine;
}

@media (max-width: 800px) {
    .auckland img {
        width: 85vw;
    }
    .auckland{
        width: 90%;
    }
}