body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;   
}

embed {
    width: 100%;
}

.main {
    height: 98%;
    overflow: scroll;
    overflow-x: hidden;
}

embed.footer {
    background-color: black;
    padding: 1em;
    padding-bottom: 0.5%;
    position: fixed;
    bottom: 0;
    padding-left: 0;
    height: 25px;
}

.athens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.athen{
    font-family: 'Arial';
    font-size: 20px;
    line-height: 1.5;
    width: 70%;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.athen img {
    width: 675px;
}
.title{
    font-family: 'Arial',sans-serif;
    font-size: 2em;
    text-align: center;
    margin: 40;
    padding: 10;
}
.span_blue{
    color: aquamarine;
}

@media (max-width: 800px) {
    .athen img {
        width: 435px;
    }
}